{% extends "base1.html.twig" %}
{% block title %} Édition des cadeaux {% endblock %}

{% block titre3 %} Édition des cadeaux {% endblock %}

{% block navigation %}
    {{ include ("secretariatjury/navigation.html.twig") }}
{% endblock %}

{% block body %}
    <div class="container">

        <table class="table table-striped">

            <tr>
                <th>Lettre</th>
                <th>Prix</th>
                <th>Titre projet</th>
                <th>Cadeau</th>
            </tr>
            {% set class="btn btn-secondary" %}
            {% for equipe in listEquipes %}
                {% if equipe.couleur == 3 %}
                    {% set class = 'btn btn-primary' %}
                {% elseif  equipe.couleur == 2 %}
                    {% set class='btn btn-warning' %}
                {% elseif  equipe.couleur == 1 %}
                    {% set class='btn btn-danger' %}
                {% elseif equipe.classement==null %}
                    {% set class='btn btn-light' %}
                {% endif %}
                <tr>
                    <th><a class="{{ class }}">{{ equipe.equipeinter.lettre }} </a></th>
                    <td>{{ equipe.classement }} prix</td>
                    <td>{{ equipe.equipeinter.titreProjet }}</td>
                    {% if equipe.cadeau != null %}
                        <td>{{ equipe.cadeau.contenu }} offert par {{ equipe.cadeau.fournisseur|upper }} d'une valeur
                            de {{ equipe.cadeau.montant }} euros.
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}


        </table>


    </div>



{% endblock %}