{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entities \EasyCorp\Bundle\EasyAdminBundle\Collection\EntityCollection #}
{# @var paginator \EasyCorp\Bundle\EasyAdminBundle\Orm\EntityPaginator #}
{% extends '@!EasyAdmin/page/content.html.twig' %}
{% trans_default_domain ea.i18n.translationDomain %}



{% block main %}
    <div class="header-index">
        <div class="row">
            <div class="col content_title"><h1>{{ ea.crud.customPageTitle|raw }}</h1></div>
            <hr>
        </div>
        {# sort can be multiple; let's consider the sorting field the first one #}
        {% set sort_field_name = app.request.get('sort')|keys|first %}
        {% set sort_order = app.request.get('sort')|first %}
        {% set some_results_are_hidden = entities|reduce((some_results_are_hidden, entity) => some_results_are_hidden or not entity.isAccessible, false) %}
        {% set has_footer = entities|length != 0 %}
        {% set has_search = ea.crud.isSearchEnabled %}
        {% set has_filters = filters|length > 0 %}
        {% set num_results = entities|length %}
        {% set has_batch_actions = batch_actions|length > 0 %}

                {% if filters|length > 0 %}
                    <div class="row">
                        <div class="col" style="text-align: right">
                            Pour sélectionner des résultats sur une équipe ou une autre édition utiliser les filtres  :
                        </div>
                    <div class="col">
                    <div class="datagrid-filters">
                        {% block filters %}
                            {% set applied_filters = ea.request.query.all['filters']|default([])|keys %}
                            <div class="btn-group action-filters">
                                <a href="#" data-href="{{ ea_url().setAction('renderFilters') }}" class="btn btn-secondary btn-labeled btn-labeled-right action-filters-button disabled {{ applied_filters ? 'action-filters-applied' }}" data-bs-toggle="modal" data-bs-target="#modal-filters">
                                    <twig:ea:Icon name="internal:filter" /> {{ t('filter.title', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}{% if applied_filters %} <span class="action-filters-button-count">({{ applied_filters|length }})</span>{% endif %}
                                </a>
                                {% if applied_filters %}
                                    <a href="{{ ea_url().unset('filters').setAction('index') }}" class="btn btn-secondary action-filters-reset">
                                        <twig:ea:Icon name="internal:xmark" />
                                    </a>

                                {% endif %}
                            </div>
                    </div>
                        {% endblock filters %}

                    </div>
                    </div>
                    <hr>
                {% endif %}
                {% for action in global_actions %}
                    {% if action.name!='new' %}
                        <div class="row">
                        <div class="col-md-6 col-sm-12" >
                            {{ action.label}} :</div>
                        <div class="col-md-6 col-sm-12"> <a href="{{ action.linkUrl }}" type="button" class="btn btn-warning">OK</a>
                        </div>
                        </div><hr>
                    {% endif %}
                {% endfor %}
        {% if has_batch_actions %}
            <div class="batch-actions d-none">
                {% for action in batch_actions %}
                    {{ include(action.templatePath, { action: action }, with_context = false) }}
                {% endfor %}
            </div>
        {% endif %}

        <hr>
        <div class="row>">
            {% for action in global_actions %}
                {% if action.name=='new' %}
                    <div class="col">

                        {{ include(action.templatePath, { action: action }, with_context = false) }}
                    </div>

                {% endif %}
            {% endfor %}

        </div>
    </div>
    <table class="table datagrid {{ entities is empty ? 'datagrid-empty' }}">
        {% if num_results > 0 %}
            <thead>
            {% block table_head %}
                <tr>
                    {% if has_batch_actions %}
                        <th>
                            <div class="form-check">
                                <span><input type="checkbox" class="form-check-input form-batch-checkbox-all" id="form-batch-checkbox-all"></span>
                            </div>
                        </th>
                    {% endif %}

                    {% set ea_sort_asc = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Option\\SortOrder::ASC') %}
                    {% set ea_sort_desc = constant('EasyCorp\\Bundle\\EasyAdminBundle\\Config\\Option\\SortOrder::DESC') %}
                    <th style="width: 200px">
                        <span class="visually-hidden">{{ t('action.entity_actions', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}</span>
                    </th>
                    {% for field in entities|filter(e => e.isAccessible)|first.fields ?? [] %}
                        {% set is_searchable = null == ea.crud.searchFields or field.property in ea.crud.searchFields %}
                        {% set is_sorting_field = ea.search.isSortingField(field.property) %}
                        {% set next_sort_direction = is_sorting_field ? (ea.search.sortDirection(field.property) == ea_sort_desc ? ea_sort_asc : ea_sort_desc) : ea_sort_desc %}
                        {% set column_icon = is_sorting_field ? (next_sort_direction == ea_sort_desc ? 'internal:sort-arrow-up' : 'internal:sort-arrow-down') : 'internal:sort-arrows' %}

                        <th data-column="{{ field.property }}" class="{{ is_searchable ? 'searchable' }} {{ is_sorting_field ? 'sorted' }} {{ field.isVirtual ? 'field-virtual' }} header-for-{{ field.cssClass|split(' ')|filter(class => class starts with 'field-')|join('') }} text-{{ field.textAlign }}" dir="{{ ea.i18n.textDirection }}">
                            {% if field.isSortable %}
                                {% set sortable_url = ea_url().set('page', 1).set('sort', { (field.property): next_sort_direction }) %}
                                {% if ea.usePrettyUrls %}
                                    {% set sortable_url = sortable_url.setController(ea.request.attributes.get('crudControllerFqcn')).setAction('index') %}
                                {% endif %}

                                <a href="{{ sortable_url }}">
                                    {{ field.label|trans|raw }} <twig:ea:Icon name="{{ column_icon }}" />
                                </a>
                            {% else %}
                                <span>{{ field.label|trans|raw }}</span>
                            {% endif %}
                        </th>
                    {% endfor %}


                </tr>
            {% endblock table_head %}
            </thead>
        {% endif %}

        <tbody>
        {% block table_body %}
            {% for entity in entities %}
                {% if entity.isAccessible %}
                    <tr data-id="{{ entity.primaryKeyValueAsString }}" {% block entity_row_attributes %}{% endblock %}>
                        {% if has_batch_actions %}
                            <td class="batch-actions-selector">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input form-batch-checkbox" id="form-batch-checkbox-{{ loop.index0 }}" value="{{ entity.primaryKeyValue }}">
                                </div>
                            </td>
                        {% endif %}
                        {% block entity_actions %}
                            <td style="width: 150px">
                                {% if entity.actions.count > 0 %}
                                    {% if ea.crud.showEntityActionsAsDropdown %}
                                        <twig:ea:ActionMenu class="dropdown-actions">
                                            <twig:ea:ActionMenu:Button withoutDropdownToggleMarker>
                                                <twig:ea:Icon name="internal:dots-horizontal" />
                                            </twig:ea:ActionMenu:Button>

                                            <twig:ea:ActionMenu:Overlay>
                                                <twig:ea:ActionMenu:ActionList>
                                                    {% for action in entity.actions %}

                                                        <twig:ea:ActionMenu:ActionList:Item
                                                                class="{{ action.cssClass }}" url="{{ action.linkUrl }}"
                                                                icon="{{ action.icon }}" icon:class="action-icon"
                                                                htmlAttributes="{{ action.htmlAttributes }}"
                                                                label="{{ action.label|trans }}" label:class="action-label" renderLabelRaw />

                                                    {% endfor %}
                                                </twig:ea:ActionMenu:ActionList>
                                            </twig:ea:ActionMenu:Overlay>
                                        </twig:ea:ActionMenu>
                                    {% else %}
                                        {% for action in entity.actions %}
                                            {{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endblock entity_actions %}
                        {% for field in entity.fields %}
                            {% set is_searchable = null == ea.crud.searchFields or field.property in ea.crud.searchFields %}

                            <td data-column="{{ field.property }}" data-label="{{ field.label|trans|e('html') }}" class="{{ is_searchable ? 'searchable' }} {{ field.property == sort_field_name ? 'sorted' }} text-{{ field.textAlign }} {{ field.cssClass }}" dir="{{ ea.i18n.textDirection }}" {% for name, value in field.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
                                {{ include(field.templatePath, { field: field, entity: entity }, with_context = false) }}
                            </td>
                        {% endfor %}


                    </tr>

                {% endif %}
            {% else %}
                {% block table_body_empty %}
                    {% for i in 1..14 %}
                        <tr class="empty-row">
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                            <td><span></span></td>
                        </tr>

                        {% if 3 == loop.index %}
                            <tr class="no-results">
                                <td colspan="100">
                                    {{ t('datagrid.no_results', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endblock table_body_empty %}
            {% endfor %}

            {% if some_results_are_hidden %}
                <tr class="datagrid-row-empty">
                    <td class="text-center" colspan="100">
                        <span class="datagrid-row-empty-message"><twig:ea:Icon name="internal:lock" class="mr-1" /> {{ 'datagrid.hidden_results'|trans({}, 'EasyAdminBundle') }}</span>
                    </td>
                </tr>
            {% endif %}
        {% endblock table_body %}
        </tbody>

        <tfoot>
        {% block table_footer %}
        {% endblock table_footer %}
        </tfoot>
    </table>


    <div class="row">
        {% if entities|length > 0 %}
            <div class="content-panel-footer without-padding without-border">
                {% block paginator %}
                    {{ include(ea.templatePath('crud/paginator'), { render_detailed_pagination: not some_results_are_hidden }) }}
                {% endblock paginator %}
            </div>
        {% endif %}
    </div>
    {% if has_filters %}
        {{ include('@EasyAdmin/crud/includes/_filters_modal.html.twig') }}
    {% endif %}
{% endblock main %}
