{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}
    <button id="scroll-top-btn" class="scroll-btn">↑</button>
    <button id="scroll-bottom-btn" class="scroll-btn">↓</button>
    <div class="container-fluid">
    <div class="header-photos">
        <div class="row">
            <div class="col">
                Pour télécharger des photos cliquer sur la case à cocher ou la photo elle-même. Ensuite, tout en bas de la page, cliquer sur télécharger.
                <br>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                Pour choisir une autre édition :
               <select id="editions" name="editions" onchange="choixedition(this)">
                   {% for edition in listeEditionsPassees %}
                    <option value="{{ edition.id }}"
                    {% if edition.id==editionPassee.id %}
                    selected
                    {% endif %}

                    >{{ edition.edition }} - {{ edition.annee }}</option>


                   {% endfor %}
               </select>
            </div>
        </div>
    </div>
    <hr>
    {{ form_start(form) }}

    <div class="row">

        {% for formphoto in form.children %}
            {% if formphoto.vars.name!='telecharger' %}
                <div class="col text-center">
                    {% if formphoto.vars.attr!=[]  %}
                        {% if formphoto.vars.attr['id'] is defined %}
                            {% for photo in listePhotos %}
                                {% if  formphoto.vars.attr['id'] == photo.id%}

                                        <img src="{{ asset('odpf/odpf-archives/'~editionPassee.edition~'/photoseq/thumbs/'~photo.photo) }}"
                                        class="photolist"
                                        onclick="imClick('{{photo.id}}')">

                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    {{ form_widget(formphoto) }}

                </div>
                {% else %}
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-3 col-md-12  text-center">
                                <p>Nombre de photos sélectionnées : <span id="sp_nbPhotosSel">0</span></p>
                        </div>

                        <div class="col-lg-3 col-md-12  text-center">
                            <button  class="btn btn-secondary" onclick="raz_sel()">Supprimer la sélection</button>
                        </div>
                        <div class="col-lg-3 col-md-12 text-center">
                            {{ form_widget(formphoto) }}
                        </div>
                    </div>
            {% endif %}
        {% endfor %}




    {{ form_end(form) }}
    </div>
{% endblock %}

{% block content_title %}
<h1>Liste des photos de l'édition {{ editionPassee.edition }}</h1>
    <br> {{ listePhotos|length }} photos
{% endblock %}

